In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')  # esto es para quitar prints

pd.set_option('display.max_columns', None)   # mostrar todas las columnas del df
#pd.set_option('display.max_rows', None)   # mostrar todas las filas del df

Exploración de los datos dentro de actor

In [2]:
actor = pd.read_csv('../w3-database-project/data/actor.csv')

actor.head(10)

   actor_id                 name
0         1     PENELOPE GUINESS
1         2        NICK WAHLBERG
2         3             ED CHASE
3         4       JENNIFER DAVIS
4         5  JOHNNY LOLLOBRIGIDA
5         6      BETTE NICHOLSON
6         7         GRACE MOSTEL
7         8    MATTHEW JOHANSSON
8         9            JOE SWANK
9        10      CHRISTIAN GABLE

In [3]:
actor.drop(columns='last_update', inplace=True)

KeyError: "['last_update'] not found in axis"

In [4]:
actor.shape

(200, 2)

In [5]:
actor.head(10)

   actor_id                 name
0         1     PENELOPE GUINESS
1         2        NICK WAHLBERG
2         3             ED CHASE
3         4       JENNIFER DAVIS
4         5  JOHNNY LOLLOBRIGIDA
5         6      BETTE NICHOLSON
6         7         GRACE MOSTEL
7         8    MATTHEW JOHANSSON
8         9            JOE SWANK
9        10      CHRISTIAN GABLE

In [6]:
actor.value_counts()

actor_id  name
1         PENELOPE GUINESS        1
138       LUCILLE DEE             1
128       CATE MCQUEEN            1
129       DARYL CRAWFORD          1
130       GRETA KEITEL            1
                                 ..
70        MICHELLE MCCONAUGHEY    1
71        ADAM GRANT              1
72        SEAN WILLIAMS           1
73        GARY PENN               1
200       THORA TEMPLE            1
Length: 200, dtype: int64

In [7]:
actor.dtypes

actor_id     int64
name        object
dtype: object

In [8]:
actor.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   actor_id  200 non-null    int64
 1   name      200 non-null    object
dtypes: int64(1), object(1)
memory usage: 15.3 KB

In [9]:
actor.drop_duplicates().shape==actor.shape

True

In [10]:
actor.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   actor_id  200 non-null    int64
 1   name      200 non-null    object
dtypes: int64(1), object(1)
memory usage: 15.3 KB

In [11]:
actor['name'] = actor.first_name + ' ' + actor.last_name

AttributeError: 'DataFrame' object has no attribute 'first_name'

In [12]:
col =['first_name','last_name']
actor.drop(columns=col, inplace=True)

KeyError: "['first_name', 'last_name'] not found in axis"

Exploración de los datos de category

In [13]:
category = pd.read_csv('../w3-database-project/data/category.csv')

category.head(10)

   category_id         name
0            1       Action
1            2    Animation
2            3     Children
3            4     Classics
4            5       Comedy
5            6  Documentary
6            7        Drama
7            8       Family
8            9      Foreign
9           10        Games

In [14]:
category.drop(columns='last_update', inplace=True)

KeyError: "['last_update'] not found in axis"

In [ ]:
category.shape

In [15]:
category.value_counts()

category_id  name
1            Action         1
2            Animation      1
3            Children       1
4            Classics       1
5            Comedy         1
6            Documentary    1
7            Drama          1
8            Family         1
9            Foreign        1
10           Games          1
11           Horror         1
12           Music          1
13           New            1
14           Sci-Fi         1
15           Sports         1
16           Travel         1
dtype: int64

In [16]:
category.dtypes

category_id     int64
name           object
dtype: object

In [17]:
category.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category_id  16 non-null     int64
 1   name         16 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.2 KB

In [18]:
category.drop_duplicates().shape==category.shape

True

Exploración de los datos en film

In [19]:
film = pd.read_csv('../w3-database-project/data/film.csv')

In [20]:
film.special_features.unique()

array(['Deleted Scenes,Behind the Scenes', 'Trailers,Deleted Scenes',
       'Commentaries,Behind the Scenes', 'Deleted Scenes', 'Trailers',
       'Commentaries,Deleted Scenes',
       'Trailers,Deleted Scenes,Behind the Scenes',
       'Trailers,Commentaries,Behind the Scenes', 'Trailers,Commentaries',
       'Trailers,Behind the Scenes',
       'Commentaries,Deleted Scenes,Behind the Scenes',
       'Trailers,Commentaries,Deleted Scenes',
       'Trailers,Commentaries,Deleted Scenes,Behind the Scenes',
       'Behind the Scenes', 'Commentaries'], dtype=object)

In [21]:
film.shape

(1000, 11)

In [22]:
film.value_counts()

film_id  title             description                                                                                                      release_year  language_id  rental_duration  rental_rate  length  replacement_cost  rating  special_features
1        ACADEMY DINOSAUR  A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies                 2006          1            6                0.99         86      20.99             PG      Deleted Scenes,Behind the Scenes                 1
672      PERFECT GROOVE    A Thrilling Yarn of a Dog And a Dog who must Build a Husband in A Baloon                                         2006          1            7                2.99         82      17.99             PG-13   Commentaries,Deleted Scenes,Behind the Scenes    1
659      PARK CITIZEN      A Taut Epistle of a Sumo Wrestler And a Girl who must Face a Husband in Ancient Japan                            2006          1            3                4.99         109     14.99             PG-13   Trailers,Deleted Scenes                          1
660      PARTY KNOCK       A Fateful Display of a Technical Writer And a Butler who must Battle a Sumo Wrestler in An Abandoned Mine Shaft  2006          1            7                2.99         107     11.99             PG      Trailers,Behind the Scenes                       1
661      PAST SUICIDES     A Intrepid Tale of a Madman And a Astronaut who must Challenge a Hunter in A Monastery                           2006          1            5                4.99         157     17.99             PG-13   Trailers,Deleted Scenes,Behind the Scenes        1
                                                                                                                                                                                                                                                                                       ..
339      FROGMEN BREAKING  A Unbelieveable Yarn of a Mad Scientist And a Cat who must Chase a Lumberjack in Australia                       2006          1            5                0.99         111     17.99             R       Trailers,Deleted Scenes,Behind the Scenes        1
340      FRONTIER CABIN    A Emotional Story of a Madman And a Waitress who must Battle a Teacher in An Abandoned Fun House                 2006          1            6                4.99         183     14.99             PG-13   Commentaries,Deleted Scenes                      1
341      FROST HEAD        A Amazing Reflection of a Lumberjack And a Cat who must Discover a Husband in A MySQL Convention                 2006          1            5                0.99         82      13.99             PG      Trailers,Deleted Scenes                          1
342      FUGITIVE MAGUIRE  A Taut Epistle of a Feminist And a Sumo Wrestler who must Battle a Crocodile in Australia                        2006          1            7                4.99         83      28.99             R       Trailers,Commentaries,Deleted Scenes             1
1000     ZORRO ARK         A Intrepid Panorama of a Mad Scientist And a Boy who must Redeem a Boy in A Monastery                            2006          1            3                4.99         50      18.99             NC-17   Trailers,Commentaries,Behind the Scenes          1
Length: 1000, dtype: int64

In [23]:
film.dtypes

film_id               int64
title                object
description          object
release_year          int64
language_id           int64
rental_duration       int64
rental_rate         float64
length                int64
replacement_cost    float64
rating               object
special_features     object
dtype: object

In [24]:
film.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1000 non-null   int64
 1   title             1000 non-null   object
 2   description       1000 non-null   object
 3   release_year      1000 non-null   int64
 4   language_id       1000 non-null   int64
 5   rental_duration   1000 non-null   int64
 6   rental_rate       1000 non-null   float64
 7   length            1000 non-null   int64
 8   replacement_cost  1000 non-null   float64
 9   rating            1000 non-null   object
 10  special_features  1000 non-null   object
dtypes: float64(2), int64(5), object(4)
memory usage: 413.3 KB

In [25]:
film.drop_duplicates().shape==film.shape

True

In [26]:
col=['original_language_id','last_update']
film.drop(columns=col, inplace=True)

KeyError: "['original_language_id', 'last_update'] not found in axis"

In [27]:
film.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1000 non-null   int64
 1   title             1000 non-null   object
 2   description       1000 non-null   object
 3   release_year      1000 non-null   int64
 4   language_id       1000 non-null   int64
 5   rental_duration   1000 non-null   int64
 6   rental_rate       1000 non-null   float64
 7   length            1000 non-null   int64
 8   replacement_cost  1000 non-null   float64
 9   rating            1000 non-null   object
 10  special_features  1000 non-null   object
dtypes: float64(2), int64(5), object(4)
memory usage: 413.3 KB

In [28]:
film.head(10)

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes"
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes"
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes"
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,Deleted Scenes
5,6,AGENT TRUMAN,A Intrepid Panorama of a Robot And a Boy who m...,2006,1,3,2.99,169,17.99,PG,Deleted Scenes
6,7,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who m...,2006,1,6,4.99,62,28.99,PG-13,"Trailers,Deleted Scenes"
7,8,AIRPORT POLLOCK,A Epic Tale of a Moose And a Girl who must Con...,2006,1,6,4.99,54,15.99,R,Trailers
8,9,ALABAMA DEVIL,A Thoughtful Panorama of a Database Administra...,2006,1,3,2.99,114,21.99,PG-13,"Trailers,Deleted Scenes"
9,10,ALADDIN CALENDAR,A Action-Packed Tale of a Man And a Lumberjack...,2006,1,6,4.99,63,24.99,NC-17,"Trailers,Deleted Scenes"

Exploración de los datos en inventory

In [29]:
inventory = pd.read_csv('../w3-database-project/data/inventory.csv')

inventory.head()

   inventory_id  film_id  store_id
0             1        1         1
1             2        1         1
2             3        1         1
3             4        1         1
4             5        1         2

In [30]:
inventory.drop(columns='last_update', inplace=True)

KeyError: "['last_update'] not found in axis"

In [31]:
inventory.shape

(1000, 3)

In [32]:
inventory.value_counts()

inventory_id  film_id  store_id
1             1        1           1
672           147      1           1
659           143      1           1
660           143      1           1
661           143      1           1
                                  ..
339           75       2           1
340           75       2           1
341           75       2           1
342           76       1           1
1000          223      2           1
Length: 1000, dtype: int64

In [33]:
inventory.dtypes

inventory_id    int64
film_id         int64
store_id        int64
dtype: object

In [34]:
inventory.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
dtypes: int64(3)
memory usage: 23.6 KB

In [35]:
inventory.drop_duplicates().shape==inventory.shape

True

In [36]:
language = pd.read_csv('../w3-database-project/data/language.csv')

language.head(10)

   language_id      name
0            1   English
1            2   Italian
2            3  Japanese
3            4  Mandarin
4            5    French
5            6    German

In [37]:
language.drop(columns='last_update', inplace=True)

KeyError: "['last_update'] not found in axis"

In [38]:
language.shape

(6, 2)

In [39]:
language.value_counts()

language_id  name
1            English     1
2            Italian     1
3            Japanese    1
4            Mandarin    1
5            French      1
6            German      1
dtype: int64

In [40]:
language.dtypes

language_id     int64
name           object
dtype: object

In [41]:
language.drop_duplicates().shape==language.shape

True

In [42]:
language.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int64
 1   name         6 non-null      object
dtypes: int64(1), object(1)
memory usage: 560.0 bytes

In [43]:
old_HDD = pd.read_csv('../w3-database-project/data/old_HDD.csv')

old_HDD.head(10)

                   title  release_year  category_id              name
0       ACADEMY DINOSAUR          2006            6  PENELOPE GUINESS
1   ANACONDA CONFESSIONS          2006            2  PENELOPE GUINESS
2            ANGELS LIFE          2006           13  PENELOPE GUINESS
3  BULWORTH COMMANDMENTS          2006           10  PENELOPE GUINESS
4          CHEAPER CLYDE          2006           14  PENELOPE GUINESS
5     COLOR PHILADELPHIA          2006            4  PENELOPE GUINESS
6        ELEPHANT TROJAN          2006           11  PENELOPE GUINESS
7    GLEAMING JAWBREAKER          2006           15  PENELOPE GUINESS
8         HUMAN GRAFFITI          2006           10  PENELOPE GUINESS
9         KING EVOLUTION          2006            8  PENELOPE GUINESS

In [44]:
old_HDD.shape

(1000, 4)

In [45]:
old_HDD.value_counts()

title                  release_year  category_id  name
ACADEMY DINOSAUR       2006          6            CHRISTIAN GABLE        1
PACIFIC AMISTAD        2006          6            JOE SWANK              1
OKLAHOMA JUMANJI       2006          13           PENELOPE GUINESS       1
                                                  RIP CRAWFORD           1
OLEANDER CLUE          2006          12           SANDRA KILMER          1
                                                                        ..
FIRE WOLVES            2006          10           JOHNNY LOLLOBRIGIDA    1
FIREBALL PHILADELPHIA  2006          5            VAL BOLGER             1
FIREHOUSE VIETNAM      2006          1            SANDRA PECK            1
FLASH WARS             2006          13           DAN TORN               1
ZHIVAGO CORE           2006          11           UMA WOOD               1
Length: 1000, dtype: int64

In [46]:
old_HDD.dtypes

title           object
release_year     int64
category_id      int64
name            object
dtype: object

In [47]:
old_HDD.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1000 non-null   object
 1   release_year  1000 non-null   int64
 2   category_id   1000 non-null   int64
 3   name          1000 non-null   object
dtypes: int64(2), object(2)
memory usage: 152.9 KB

In [48]:
old_HDD.drop_duplicates().shape==old_HDD.shape

True

In [49]:
old_HDD['name'] = old_HDD.first_name + ' ' + old_HDD.last_name

AttributeError: 'DataFrame' object has no attribute 'first_name'

In [50]:
col =['first_name','last_name']
old_HDD.drop(columns=col, inplace=True)

KeyError: "['first_name', 'last_name'] not found in axis"

Exploración de la columna rental

In [51]:
rental = pd.read_csv('../w3-database-project/data/rental.csv')

rental.head(10)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1
5,6,2005-05-24 23:08:07,2792,549,2005-05-27 01:32:07,1
6,7,2005-05-24 23:11:53,3995,269,2005-05-29 20:34:53,2
7,8,2005-05-24 23:31:46,2346,239,2005-05-27 23:33:46,2
8,9,2005-05-25 00:00:40,2580,126,2005-05-28 00:22:40,1
9,10,2005-05-25 00:02:21,1824,399,2005-05-31 22:44:21,2

In [52]:
rental.drop(columns='last_update', inplace=True)

KeyError: "['last_update'] not found in axis"

In [53]:
rental.shape

(1000, 6)

In [54]:
rental.value_counts()

rental_id  rental_date          inventory_id  customer_id  return_date          staff_id
1          2005-05-24 22:53:30  367           130          2005-05-26 22:04:30  1           1
673        2005-05-28 22:07:30  1769          468          2005-06-01 23:42:30  1           1
660        2005-05-28 20:53:31  1414          578          2005-05-30 15:26:31  1           1
661        2005-05-28 21:01:25  2247          51           2005-06-02 01:22:25  2           1
662        2005-05-28 21:09:31  2968          166          2005-06-01 19:00:31  2           1
                                                                                           ..
340        2005-05-27 03:55:25  946           209          2005-06-04 07:57:25  2           1
341        2005-05-27 04:01:42  4168          56           2005-06-05 08:51:42  1           1
342        2005-05-27 04:11:04  4019          539          2005-05-29 01:28:04  2           1
343        2005-05-27 04:13:41  3301          455          2005-05-28 08:34:41  1           1
1001       2005-05-31 00:46:31  1498          64           2005-06-06 06:14:31  2           1
Length: 1000, dtype: int64

In [55]:
rental.dtypes

rental_id        int64
rental_date     object
inventory_id     int64
customer_id      int64
return_date     object
staff_id         int64
dtype: object

In [56]:
rental.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   object
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   object
 5   staff_id      1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 179.8 KB

In [57]:
rental.drop_duplicates().shape==rental.shape

True

Conversión a CSV

In [58]:
film.to_csv('../w3-database-project/data/film.csv', index=False)

In [59]:
actor.to_csv('../w3-database-project/data/actor.csv', index=False)

In [60]:
category.to_csv('../w3-database-project/data/category.csv', index=False)

In [61]:
inventory.to_csv('../w3-database-project/data/inventory.csv', index=False)

In [62]:
language.to_csv('../w3-database-project/data/language.csv', index=False)

In [63]:
old_HDD.to_csv('../w3-database-project/data/old_HDD.csv', index=False)

In [64]:
rental.to_csv('../w3-database-project/data/rental.csv', index=False)

In [65]:
%pip install mysql-connector-python
%pip install SQLAlchemy
%pip install pymysql
from sqlalchemy import create_engine

Requirement already satisfied: mysql-connector-python in /Users/javi/opt/anaconda3/lib/python3.9/site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /Users/javi/opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: SQLAlchemy in /Users/javi/opt/anaconda3/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /Users/javi/opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymysql in /Users/javi/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

Pasar a SQL

In [66]:
with open('../w3-database-project/cont.txt', 'r') as file:
    pass_=file.readlines()
token = ''.join(pass_)f

In [67]:
str_conn='mysql+pymysql://root:token@localhost:3306/blockbuster'

cursor=create_engine(str_conn)

actor.to_sql(name='actor', con=cursor, if_exists='replace', index=False)

In [68]:
category.to_sql(name='category', con=cursor, if_exists='replace', index=False)

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
language.to_sql(name='language', con=cursor, if_exists='replace', index=False)

In [ ]:
film.to_sql(name='film', con=cursor, if_exists='replace', index=False)

In [ ]:
inventory.to_sql(name='inventory', con=cursor, if_exists='replace', index=False)

In [ ]:
old_HDD.to_sql(name='old_HDD', con=cursor, if_exists='replace', index=False)

In [ ]:
rental.to_sql(name='rental', con=cursor, if_exists='replace', index=False)

In [ ]:
actor.to_sql(name='actor', con=cursor, if_exists='replace', index=False)